#container {
    width: 400px;
    height: 50px;
    background-color: grey;
    overflow: hidden;


    /* Position absolute relative to parent container */
    position: absolute;
}

#box {
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: pointer;
    

    /* Position absolute relative to parent container */
    position: absolute;
}
